<%#
    Notes on the refactor for HTML/CSS stuff:
      - Think about how I want to build the CSS/JS/HTML stuff. Do I want to send
        as one file? Multiple different ones?
      - Fix the ugliness that is the HTML for the main interface. Build it initially
       as an empty <div> that has the write surface/interface classes, and is
       positioned properly. Then use JS to load the first dashboard (or the first)
       command.
        - Why is there a span.h2 instead of just an h2? the line break. Fix with
          flex?
        - Why do commands and dashboards need different html? Can't it just be a
          different onclick (and I guess remove the 'Run' button)?
        - Need to show state a little better - how to highlight the current
          dashboard or command?
%><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      <%= $config[:title] %>
    </title>
    <link rel="stylesheet" href="/app.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-logo h2">
        <%= $config[:header_logo] %>
        <%= $config[:header_title] %>
      </div>
    </div>
    <div class="interface">
      <div class="dashboard-selector">

        <%# GraphicDashboards %>
        <% $config[:dashboards].each do |dashboard| %>
          <div class="selector-card">
            <div class="card-info"
              onclick="load_dashboard('<%= dashboard[:id] %>')"
              id="dash-<%=dashboard[:id]%>"
              data-id="<%=dashboard[:id]%>">
              <h2><%= dashboard[:name] %></h2>
              <p><%= dashboard[:desc] %></p>
            </div>
            <div class="card-controls">
              <div class="card-icon"
                id="cmd-<%=dashboard[:id]%>-log-icon"
                onclick="load_dashboard('<%= dashboard[:id] %>')">
                Show
              </div>
            </div>
          </div>
        <% end %>

        <%# Commands %>
        <% $config[:commands].each do |command| %>
          <div class="selector-card">
            <div class="card-info"
              onclick="load_dashboard(<%=command[:id]%>)"
              id="cmd-<%=command[:id]%>"
              data-id="<%=command[:id]%>"
              data-cmd="<%=command[:cmd]%>">
              <h2><%= command[:name] %></h2>
              <p><%= command[:desc] %></p>
            </div>
            <div class="card-controls">
              <div class="card-icon"
                id="cmd-<%=command[:id]%>-run-icon"
                onclick="toggle_run(<%= command[:id] %>)">
                Run
              </div>
              <div class="card-icon"
                id="cmd-<%=command[:id]%>-log-icon"
                onclick="load_dashboard(<%=command[:id]%>)">
                Show
              </div>
            </div>
          </div>
        <% end %>

      </div>

      <div class="surface" id="dashboard-wrapper">
        LOADING...
      </div>
    </div>
  </body>
</html>
