<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      <%= $config[:title] %>
    </title>
    <link rel="stylesheet" href="/app.css">
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-logo h2">
        <%= $config[:header_logo] %>
        <%= $config[:header_title] %>
      </div>
    </div>
    <div class="screen">
      <div class="cmd-picker">

        <%# Dashboards %>
        <% $config[:dashboards].each do |dashboard| %>
          <div class="command-box">
            <div class="command-info"
              onclick="load_pane(<%= dashboard[:id] %>)"
              id="dash-<%=dashboard[:id]%>"
              data-id="<%=dashboard[:id]%>">
              <h2><%= dashboard[:name] %></h2>
              <p><%= dashboard[:desc] %></p>
            </div>
            <div class="command-controls">
              <div class="command-icon"
                id="cmd-<%=dashboard[:id]%>-log-icon"
                onclick="load_pane(<%= dashboard[:id] %>)">
                Show
              </div>
            </div>
          </div>
        <% end %>

        <%# Commands %>
        <% $config[:commands].each do |command| %>
          <div class="command-box">
            <div class="command-info"
              onclick="load_pane(<%=command[:id]%>)"
              id="cmd-<%=command[:id]%>"
              data-id="<%=command[:id]%>"
              data-cmd="<%=command[:cmd]%>">
              <h2><%= command[:name] %></h2>
              <p><%= command[:desc] %></p>
            </div>
            <div class="command-controls">
              <div class="command-icon"
                id="cmd-<%=command[:id]%>-run-icon"
                onclick="toggle_run(<%= command[:id] %>)">
                Run
              </div>
              <div class="command-icon"
                id="cmd-<%=command[:id]%>-log-icon"
                onclick="load_pane(<%=command[:id]%>)">
                Show
              </div>
            </div>
          </div>
        <% end %>

      </div>
      <div class="interface surface">
        <div id="interface-title">
          <span class="h2" id="interface-state">Waiting:</span>
          <span id="interface-state-details"></span>
        </div>
        <div class="interface-output scroll-content">
          <pre class="output-pane" id="output-pane">Click 'Run' to run a command and see it's output.

Click 'Help' (below) to see more.</pre>
        </div>
        <div class="interface-commands">
          <div class="top-shadow"></div>
          <div class="interface-button"
            onclick="show_help_message()">
            Help
          </div>
          <div class="interface-button"
            onclick="console.log('Save output button has not been implemented.')">
            Save Output
          </div>
          <div class="interface-button"
            onclick="console.log('Close server button has not been implemented.');">
            Close Server
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
